<{$nav}>
<{$buttons}>
<div class="pagenav pagenavright">
	<div style="width: auto; float: right; margin-right: 25px;">
		<{$pagenav}>
	</div>
</div>
<form action="<{$smarty.const.XOOPS_URL}>/modules/<{$dirname}>/admin/post.php?op=departments" method="POST" >
<div>
	<table width="100%" style="margin: 17px;" class="listtable departmenttable">
		<thead>
			<tr>
			<{foreach from=$tableheaders item=header key=id}>
				<th><{if !empty($header.url)}><a href="<{$header.url}>"><{$header.name}></a><{else}><{$header.name}><{/if}></th>
			<{/foreach}>
			</tr>
		</thead>
		<tbody>
			<{foreach from=$departments item=department key=id}>
			<tr class="<{cycle values='even,odd'}>">
				<td><{$department.id}></td>
				<td><{$department.code}></td>
				<td><{$department.name}></td>
				<td><{$department.tickets}></td>
				<td><{$department.staff}></td>
				<td><{$department.clients}></td>
				<td><{$department.raised}></td>
				<td><{$department.latest}></td>
				<td><{$department.closed}></td>
				<td><{$department.actions}></td>
			</tr>
			<{/foreach}>
		</tbody>
	</table>
</div>
<div class="pagenav pagenavleft">
	<div style="width: auto; float: left; margin-left: 25px;">
		<{$pagenav}>
	</div>
	<div style="width: auto; float: right; margin-right: 25px;">
		<input type="submit" value="<{$smarty.const._SUBMIT}>" />
	</div>
</div>
</form>
<{$footer}>